<div class="row">
  <aside class="content-sidebar col-xs-3">
    <p>This is the sidebar.</p>
  </aside> <!-- /.content-sidebar col-xs-3 -->
  <main class="content-main col-xs-9">
    <h1>This is the main content section.</h1>
  </main> <!-- /.content-main col-xs-9 -->
</div> <!-- /.row -->
