<main class="content-main col-xs-12 col-sm-9">
  <blockquote class="page-quote">
    <p>"This is an utterly unique memoir, a fascinating look at one woman's journey from a difficult childhood in Mao's China to the top of the American tech world."</p>
    <footer><strong>Tony Hsieh</strong>, CEO of Zappos.com; author of Delivering Happinesss</footer>
  </blockquote>
  <p class="book-cover-home">
    <img src="/assets/img/img-book-cover-home.jpg" alt="Available Now">
  </p> <!-- /.book-cover-home -->
  <div class="wrapper wrapper-video">
    <iframe width="320" height="240" src="http://www.youtube.com/embed/JnoRUPdjoFM" frameborder="0" allowfullscreen></iframe>
  </div>
</main> <!-- /.content-main col-xs-9 -->