<main class="content-main col-xs-12 col-sm-9">
  <blockquote class="page-quote">
    <p>"This is an utterly unique memoir, a fascinating look at one woman's journey from a difficult childhood in Mao's China to the top of the American tech world."</p>
    <footer><strong>Tony Hsieh</strong>, CEO of Zappos.com; author of Delivering Happinesss</footer>
  </blockquote>
  <h1 class="title title-primary">Bend, Not Break</h1>
  <h2 class="title title-page">About</h2>
  <img class="pull-right" src="/assets/img/img-book-cover.jpg" alt="Book Cover Photo">
  <p>Ping Fu knows what it’s like to be oppressed. To be beaten and raped for the crime of being born into a well-educated family. To be deported with barely enough money for a plane ticket to a bewildering new land. To start all over at 25, without family or friends, as a maid and waitress and student.</p>
  <p>Ping Fu also knows what it’s like to be a pioneering software programmer, an innovator, a CEO, and Inc. magazine's Entrepreneur of the Year. To be a friend and mentor to some of the best-known names in technology. To build some of the coolest new products in the world. To give speeches that inspire huge crowds of attendees. To meet and advise the President of the United States.</p>
  <p>It sounds too unbelievable for fiction, but this is the true story of a life in two worlds.</p>
  <p>Born on the eve of China’s Cultural Revolution, Ping Fu was separated from her family at the age of eight. She grew up fighting hunger and humiliation, and shielding her younger sister from the teenagers in Mao’s Red Guard. At 25, she escaped to the United States; her only resources were $80 in traveler’s checks and three phrases of English:</p>
  <img class="pull-left" src="/assets/img/img-about-ping.jpg" alt="Ping Fu Photo">
  <p>Yet Ping persevered, and the hard-won lessons of her childhood guided her to success in her new homeland. Aided by her well-honed survival instincts, a few good friends, and the kindness of strangers, Ping grew into someone she never thought she’d be—a strong, independent, entrepreneurial leader and mother. A love of problem solving led her to computer science and Ping became part of the team that created NCSA Mosaic, which became Netscape, the web browser that changed how we access information forever. She then started a company, Geomagic, that has literally reshaped the world, from personalizing prosthetic limbs to repairing of NASA spaceships.</p>
</main> <!-- /.content-main col-xs-9 -->