/* Table of Contents
=====================================================
  BOOTSTRAP...........Import Bootstrap styles
  SITEWIDE STYLES.....Global styles
  PAGE STYLES.........Styles on a per page/section basis
  FONT-FACE...........Import brand font files
  BROWSER DEBUGGING...Making crappy browsers behave
*/

/* --------------------------------------------------

  BOOTSTRAP

-------------------------------------------------- */
@import '_bootstrap';

/* --------------------------------------------------

  SITEWIDE STYLES

-------------------------------------------------- */

/* Brand Colors
================================================== */
@brand-red:       #ED2024;

/* Custom Mixins
================================================== */


/* Global Styles
================================================== */
.bordered-wrapper {
  position: relative;
  border: 7px solid @brand-red;
  .corner {
    width: 19px;
    height: 19px;
    position: absolute;
    background: url(../img/bg-corner.png) no-repeat;
    z-index: 10;
    &.corner-tl {
      top: -7px;
      left: -7px;
    }
    &.corner-tr {
      top: -7px;
      right: -7px;
      .rotate(90deg);
    }
    &.corner-br {
      bottom: -7px;
      right: -7px;
      .rotate(180deg);
    }
    &.corner-bl {
      bottom: -7px;
      left: -7px;
      .rotate(270deg);
    }
  }
}

.content-sidebar,
.content-main {
  height: 800px; // just for testing
}

.content-main {
  background: #fff;
}


/* --------------------------------------------------

  HOME

-------------------------------------------------- */
